PORT=3000
NODE_ENV=development
SESSION_SECRET=change-this-secret
CONNECTION_STRING=postgresql://neondb_owner:npg_hArKG2U1LwFf@ep-silent-surf-actesa45.sa-east-1.aws.neon.tech/neondb?sslmode=require
SESSION_SECRET=OnionPotato